* {
box-sizing: border-box;
margin: 0 auto;
padding: 0px;
}
.nav-logo{
  height: 85px;
  position: absolute;
  transform: translateY(-22%);
}
video{
  border-radius: 10px;
}
.logo{
  display: block;
  margin: 0 auto;
}
footer{
  padding-top: 5px;
  padding-bottom: 5px;
}
